<div class="col-md-12 no-gutter">
	<div class="role-show">
		<div class="col-md-4 col-md-offset-4 no-gutter">
			<div class="table-responsive role-title">
				<table class="table table-striped">
					<tbody>
						<tr>
							<td class="name-text">Role Name</td>
							<td>:</td>
							<td class="name"><strong><%= @role.name.titleize %></strong></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="clear"></div>
		<div class="col-md-12 no-gutter">
			<h2 class="header-title">Abilities<span><%= link_to 'Add/Change Abilities', change_role_abilities_path(@role), class: 'btn btn-primary pull-right' %></span></h2>
			<div class="table-responsive">
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Model</th>
							<th>Action</th>
							<th>Ability</th>
						</tr>
					</thead>
					<tbody>
						<% @abilities.each do |ability| %>
							<tr>
								<td><%= ability.subject_class %></td>
								<td><%= ability.action %></td>
								<td><%= ability.name %></td>
							</tr>
						<% end %>
					</tbody>
				</table>
			</div>
		</div>
		<div class="clear"></div>
		<div class="col-md-12 no-gutter extra-margin-top">
			<%= link_to 'Back', roles_path, class: 'btn btn-info' %>
			<%= link_to 'Edit', edit_role_path(@role), class: 'btn btn-info' %>
			<%= link_to 'Add/Change Abilities', change_role_abilities_path(@role), class: 'btn btn-primary pull-right' %>
		</div>
	</div>
</div>