<!DOCTYPE html>
<html>
<head>
	<title>HospitalManagement</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<!-- only if you need custom infoboxes -->
	<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>
<body>
	<div class="col-md-12">
		<%= render partial: 'layouts/parts/header' %>
	</div>
	<p class="notice alert-success"><strong><%= notice %></strong></p>
	<p class="alert alert-danger"><strong><%= alert %></strong></p>	
	<%= render partial: 'layouts/parts/side_nav' %>
	<div class="col-sm-9 col-md-10">
		<%= yield %>
	</div>
</body>
</html>
